.footer {
	background-color:rgb(193,229,245);
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 10em;
}

body, html {
	margin: 0;
	height: 100%;
}

.text {
	font-family: 'Nixie One', cursive;
	font-size: 2em;
	max-width: 90%;
	padding-top: 1em;
	padding-bottom: 3em;
	padding-left: .7em;
	padding-right: 1em;
	box-shadow: 10px 10px 0 rgba(0,0,0,.1);
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.footer-text {
	font-family: 'Nixie One', cursive;
	padding-bottom: 1em;
	padding-left: 20px;
}

.content {
	display: block;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 2em;
}

.title {
	font-family: 'Petit Formal Script', cursive; 
	font-size: 6em;
	color: red;
	padding-left: 60px;
	padding-top: 250px;
	mix-blend-mode: multiply;
}

.tagline {
	font-family: 'Petit Formal Script', cursive; 
	font-size: 2em;
	padding-left: 60px;
	padding-bottom: 10px;
	min-width: 50%;
}

.border-line {
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.border {
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-top: 1px solid rgba(0,0,0,.1);
	border-left: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	margin-top: 1em;
}

.image {
	float: left;
	padding-right: 1em;
}

.bg {
	background: url("images/head.png") no-repeat;
	background-position: left 60px top 0px;
}

.ulist {
	list-style: none;
}

.ulist li:before {
    content: '-';
    display: inline-block;
    margin-left: -1em;
}